---
import '../styles/global.css';
import NavBar from '../components/NavBar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${Astro.url}/favicon.svg` />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="m-0 p-0 font-sans bg-white text-black dark:bg-black dark:text-white">
		<NavBar />
		<slot />
	</body>
</html>