---
import '../styles/global.css';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import astroConfig from '../../astro.config.mjs';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${astroConfig.base}/favicon.png`} />
		<meta name="generator" content={Astro.generator} />
		<title>MARS docs</title>
	</head>
	<body class="font-sans bg-white text-black dark:bg-gray-900 dark:text-white">
		<header>
			<NavBar />
		</header>
		<main class="mx-auto max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>