---
import Layout from '../layouts/Layout.astro';
import model from '../../../schemas/isa_json_schema_with_validators.json';
import SchemaTable from '../components/SchemaTable.astro';

const schema = model.schema ?? {};
const schemaDefs = schema.$defs ?? [];
---

<Layout>
  {/* Let typography handle headings & text */}
  <article class="prose prose-slate dark:prose-invert max-w-none">
    <h1>MARS ISA-JSON model</h1>

    {
      Object.entries(schemaDefs).map(([key, schemadefinition]: any) => (
        <SchemaTable title={key} schema={schemadefinition} />
      ))
    }
  </article>
</Layout>
