---
import astroConfig from "../../astro.config.mjs";
const licenseUrl = `${astroConfig.base}/license`;
---

<footer class="bottom-0 left-0 w-full p-4 bg-white border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">2025 - MARS
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://github.com/elixir-europe/MARS/blob/main/LICENSE" class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
    </ul>
    </div>
</footer>
