name: Build and Push Docker image for ENA service

on:
  push:
    paths:
        - "repository-services/isajson-ena/**"
  pull_request:
    paths:
        - "repository-services/isajson-ena/**"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: repository-services/isajson-ena
          file: repository-services/isajson-ena/Dockerfile
          push: false
          tags: user/app:latest
          secrets: |
            id=gpr_user,env=GPR_USER
            id=gpr_token,env=GPR_TOKEN
          network: host
        env:
          DOCKER_BUILDKIT: 1
          GPR_USER: ${{ secrets.GPR_USER }}
          GPR_TOKEN: ${{ secrets.GPR_TOKEN }}
